ASSISTENTE VIRTUAL 2.0
{"createdAt":"2025-06-03T17:36:58.439Z","updatedAt":"2025-06-03T17:36:58.439Z","id":"bKzZ5VAvwMWCqnjG","name":"ASSISTENTE VIRTUAL 2.0","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[3200,1520],"id":"b498eee8-966f-4d72-944b-44c0ba504069","name":"Evolution API","credentials":{}},{"parameters":{"httpMethod":"POST","path":"d45affc8-9367-4bd6-afa9-0dd587871298","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[120,500],"id":"e14c9049-73ec-43ed-82f2-294eb70c215a","name":"Recebe mensagem usuario","webhookId":"d45affc8-9367-4bd6-afa9-0dd587871298"},{"parameters":{"databaseId":186413,"tableId":453287,"additionalOptions":{"filters":{"fields":[{"field":3526214,"operator":"contains","value":"={{ $json.telefone_limpo }}"}]}}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[720,520],"id":"d6840568-5538-49c5-8ff1-4004f9f18cbc","name":"Verifica se usuario tem cadastro","alwaysOutputData":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.Numero }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Cadastrado"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fb1915e-576b-4729-a204-61718f51a0ce","leftValue":"={{ $json.Numero }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Sem cadastro"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1020,520],"id":"53f86ff0-1214-4a29-8a6b-e8172dea2bc8","name":"Valida se usuario esta cadastrado"},{"parameters":{"operation":"create","databaseId":186413,"tableId":453287,"fieldsUi":{"fieldValues":[{"fieldId":3526205,"fieldValue":"={{ $('Recebe mensagem usuario').item.json.body.data.pushName }}"},{"fieldId":3526214,"fieldValue":"={{ $('If').item.json.body.data.key.remoteJid }}"},{"fieldId":3526849,"fieldValue":"Aberto"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1240,800],"id":"0d43077a-88e8-4e70-83ce-511c22782ea4","name":"Casastra usuario no banco de dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e8df05c6-f0d2-46d6-987f-d6ed0f429116","leftValue":"={{ $json.Thread_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1520,580],"id":"b132cf0f-22f5-451f-9d16-adc09dc03e77","name":"Verifica se tem thread criada"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/threads","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"OpenAI-Beta","value":"assistants=v2"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,340],"id":"d94d7984-5439-479d-b44c-f49d93517fd9","name":"Cria a thread"},{"parameters":{"operation":"update","databaseId":186413,"tableId":453287,"rowId":"={{ $('Verifica se tem thread criada').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":3526215,"fieldValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1920,340],"id":"19a506ee-b081-49d8-b8ae-ca5de3015456","name":"Salva thread no banco de dados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1790a98-1cc0-4569-be53-4998defd4d1e","leftValue":"={{ $('Verifica se usuario tem cadastro').item.json.Atendimento }}","rightValue":"Fechado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1260,300],"id":"5c0a3a2f-c31c-45c9-be61-efdfbeb3cd26","name":"verifica atendimento"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_YPtLsfgWO37nmyrnrYxzxsSv","mode":"list","cachedResultName":"ASSISTENTE VIRTUAL"},"prompt":"define","text":"={{ $json.conversa }}","memory":"threadId","threadId":"={{ $('Verifica se usuario tem cadastro').all()[0].json.Thread_id }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2820,1520],"id":"743647a9-612b-4e0a-a568-b909c3ac3694","name":"Bella AI"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"43cddc4b-9229-4b13-8403-97e90c10d234","leftValue":"={{ $json.body.data.key.fromMe.toString() }}","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[320,500],"id":"1a284e37-f0a7-4c20-b692-0c9a34549ff9","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[500,180],"id":"46929e2f-d3eb-46f1-b46b-d39cdd75b2bd","name":"No Operation, do nothing"},{"parameters":{"operation":"push","list":"={{ $('Recebe mensagem usuario').all()[0].json.body.data.key.remoteJid }}","messageData":"={{ $json.texto }}{{ $json.Audio }}{{ $json.Imagem }}{{ $json.Documento }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2520,500],"id":"4e7d1c34-3409-4b72-8bb5-f41d1bf6cf8f","name":"salva mensagem"},{"parameters":{"operation":"get","propertyName":"conversa","key":"={{ $('Recebe mensagem usuario').all()[0].json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2880,500],"id":"8df5ab2d-61e2-4f67-9680-64bffa11c697","name":"pega mensagens"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42c27651-5b9e-45a0-b797-7d76f6e196ac","leftValue":"={{ $json.conversa.length }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3100,620],"id":"9920b26b-e9d4-4ff2-99d3-fd9c1b43ba62","name":"Verifica se é primeira mensagem"},{"parameters":{"operation":"delete","key":"={{ $('Recebe mensagem usuario').all()[0].json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3460,1520],"id":"ab4d3ab2-8bec-489d-b1cc-932c262316b6","name":"apaga mensagens"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3420,360],"id":"6d251846-165a-4a6e-9719-ba29fda02048","name":"Wait","webhookId":"49a49f1a-22e3-4466-9188-797f4c0fc1cb"},{"parameters":{"operation":"get","propertyName":"conversa","key":"={{ $('Recebe mensagem usuario').all()[0].json.body.data.key.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3660,360],"id":"c48565cc-6d34-4bb3-8bf9-f723198fca13","name":"pega mensagens1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3260,820],"id":"21e89272-c6ee-446f-8730-b125399f040f","name":"No Operation, do nothing1"},{"parameters":{"content":"cadastro no banco de dados e criação de memoria\n","height":1140,"width":2160},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3cc4b235-0f13-4c19-afd8-01445e80f8e0","name":"Sticky Note"},{"parameters":{"content":"trata as mensagens e envia","height":1140,"width":2840,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2180,0],"id":"08fe07ad-d8a4-445e-8d50-f03d446c108d","name":"Sticky Note1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Recebe mensagem usuario').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a38a3f9b-984f-4a94-a3e8-99466bfabe3e","leftValue":"={{ $('Recebe mensagem usuario').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2d2e4206-265f-4846-a087-13bc937971e9","leftValue":"={{ $('Recebe mensagem usuario').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c9e8b78b-c24f-49f6-9cb9-6cccab0a9c4b","leftValue":"={{ $('Recebe mensagem usuario').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[100,1280],"id":"5ea3b752-a017-4f75-9eea-6c108a902802","name":"Verifica tipo de mensagem"},{"parameters":{"assignments":{"assignments":[{"id":"b4561309-835a-4737-97c4-eda6ce2b5bfe","name":"texto","value":"={{ $('Recebe mensagem usuario').all()[0].json.body.data.message.conversation }}","type":"string"},{"id":"c0ba34e3-9cd8-43ed-bcd1-c8b63c07b708","name":"Audio","value":"={{ $json.text }}","type":"string"},{"id":"3ff167f4-b5cf-4715-b382-cda74bd790e8","name":"Imagem","value":"={{ $json.content }}","type":"string"},{"id":"655359d6-a585-493b-913e-9c5c5bc149e9","name":"Documento","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1940,1260],"id":"1add4734-c2af-459f-be1c-aefcd345fb7f","name":"Junta tudo"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[820,1380],"id":"9a98f753-cc7e-4484-8f75-4919b0cdc411","name":"Pega audio base64","credentials":{}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1360,1380],"id":"e0520e26-6c13-45ed-bf82-6c356acfb3a4","name":"Transcreve audio"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[820,1640],"id":"fa0a4293-6225-4455-823b-b31b4f234c17","name":"Pega imagem","credentials":{}},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"O que tem nessa imagem?","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1360,1640],"id":"3ebc34ce-6c59-41a9-bb5a-37c21b5b13b1","name":"Analisa imagem"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1100,1380],"id":"25b4e757-7b0a-44eb-aa13-58a8f51f390f","name":"Converte audio"},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,1640],"id":"19842446-b90c-4dfe-88fd-d983a43b3cd0","name":"Converte imagem"},{"parameters":{},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[820,1900],"id":"93d90bb6-cdc4-41ce-8f74-2b4f3b8a31cc","name":"Pega documento","credentials":{}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1120,1900],"id":"e20ac5e2-3f08-4a27-9408-536fd54bf964","name":"Convert to File"},{"parameters":{"operation":"text","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1400,1900],"id":"358d730c-adb6-4fa1-aca5-e68fd1595a84","name":"Extract from File"},{"parameters":{"content":"cadastro no banco de dados e criação de memoria\n","height":1140,"width":2160,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,1160],"id":"07a9a320-44bf-4593-b1fc-8e43aabbde6e","name":"Sticky Note2"},{"parameters":{"operation":"delete","key":"={{ $('Recebe mensagem usuario').all()[0].json.body.data.key.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3560,780],"id":"bcb23f04-5575-4ef0-bbad-f4f7615566ba","name":"apaga mensagens1"},{"parameters":{"assignments":{"assignments":[{"id":"6bf3dcd9-cc21-4cd9-bdfe-c6377d3936ad","name":"conversa","value":"={{ $json.conversa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2520,1440],"id":"422c86b0-6459-40f2-a365-2bb4314c43df","name":"Edit Fields"}],"connections":{"Recebe mensagem usuario":{"main":[[{"node":"If","type":"main","index":0}]]},"Verifica se usuario tem cadastro":{"main":[[{"node":"Valida se usuario esta cadastrado","type":"main","index":0}]]},"Valida se usuario esta cadastrado":{"main":[[{"node":"verifica atendimento","type":"main","index":0}],[{"node":"Casastra usuario no banco de dados","type":"main","index":0}]]},"Casastra usuario no banco de dados":{"main":[[{"node":"Verifica se tem thread criada","type":"main","index":0}]]},"Verifica se tem thread criada":{"main":[[{"node":"Cria a thread","type":"main","index":0}],[{"node":"Verifica tipo de mensagem","type":"main","index":0}]]},"Cria a thread":{"main":[[{"node":"Salva thread no banco de dados","type":"main","index":0}]]},"Salva thread no banco de dados":{"main":[[{"node":"Verifica tipo de mensagem","type":"main","index":0}]]},"verifica atendimento":{"main":[[],[{"node":"Verifica se tem thread criada","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Verifica se usuario tem cadastro","type":"main","index":0}]]},"salva mensagem":{"main":[[{"node":"pega mensagens","type":"main","index":0}]]},"pega mensagens":{"main":[[{"node":"Verifica se é primeira mensagem","type":"main","index":0}]]},"Verifica se é primeira mensagem":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"pega mensagens1","type":"main","index":0}]]},"pega mensagens1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Verifica tipo de mensagem":{"main":[[{"node":"Junta tudo","type":"main","index":0}]]},"Junta tudo":{"main":[[{"node":"salva mensagem","type":"main","index":0}]]},"Transcreve audio":{"main":[[{"node":"Junta tudo","type":"main","index":0}]]},"Analisa imagem":{"main":[[{"node":"Junta tudo","type":"main","index":0}]]},"Converte audio":{"main":[[{"node":"Transcreve audio","type":"main","index":0}]]},"Converte imagem":{"main":[[{"node":"Analisa imagem","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Junta tudo","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Bella AI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Recebe mensagem usuario":[{"json":{"headers":{"host":"primary-production-b5c5.up.railway.app","user-agent":"axios/1.7.9","content-length":"1707","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"162.220.232.29","x-forwarded-host":"primary-production-b5c5.up.railway.app","x-forwarded-proto":"https","x-railway-edge":"railway/us-west1","x-railway-request-id":"IG3kjTwPTx2Dn7ivbXukcg_603909319","x-real-ip":"162.220.232.29","x-request-start":"1741031417439"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"BOT","data":{"key":{"remoteJid":"5511981370549@s.whatsapp.net","fromMe":false,"id":"5C8361F4FFC0B014EEF8AFB2BA175CC4"},"pushName":"DSR Marketing","status":"DELIVERY_ACK","message":{"audioMessage":{"url":"https://mmg.whatsapp.net/v/t62.7117-24/26572507_939202355042995_7766185876100681563_n.enc?ccb=11-4&oh=01_Q5AaIKx9vKdBuPaX2MsITw9_urPvFveLyRnOm4mi1SUq79wj&oe=67ED8FC3&_nc_sid=5e03e0&mms3=true","mimetype":"audio/ogg; codecs=opus","fileSha256":"XyMBo/EGqBEWnxK+vF2kduLzY1Rn6zhklcEYn77Ldbo=","fileLength":"6229","seconds":2,"ptt":true,"mediaKey":"56ILyPwMzlYMVIkQTUwkppKNV2g8nnMOGT8GK1JFRbE=","fileEncSha256":"QFvsDlGqXGl1jD5NMUrJjw7iXnHn55xZB7m2WDYNLxE=","directPath":"/v/t62.7117-24/26572507_939202355042995_7766185876100681563_n.enc?ccb=11-4&oh=01_Q5AaIKx9vKdBuPaX2MsITw9_urPvFveLyRnOm4mi1SUq79wj&oe=67ED8FC3&_nc_sid=5e03e0","mediaKeyTimestamp":"1741031415","waveform":"AAAACg4AACMSCBQoW2JjYV5bST1QYlk4WmJjTC5gYmNgWlVfYltVV2NjVi4nPT5ISklNTTtBOTxBPzcoKConIw=="},"messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"pWp4D+Bh3lcK6Q==","senderTimestamp":"1740269616","recipientKeyHash":"0WDtKy4wdlvXpQ==","recipientTimestamp":"1740317852"},"deviceListMetadataVersion":2,"messageSecret":"r9GmOKR10Eburv5eWxNnZPefZWXrzvKpGR8ysp/k3Ng="}},"contextInfo":null,"messageType":"audioMessage","messageTimestamp":1741031417,"instanceId":"668372c2-c67f-402d-8336-02ca0c95b27d","source":"android"},"destination":"https://primary-production-b5c5.up.railway.app/webhook-test/d45affc8-9367-4bd6-afa9-0dd587871298","date_time":"2025-03-03T16:50:17.310Z","sender":"5511943825525@s.whatsapp.net","server_url":"http://localhost:8080","apikey":"3A0167A6C7A0-47C7-93B7-B9BF05E43205"},"webhookUrl":"https://primary-production-b5c5.up.railway.app/webhook-test/d45affc8-9367-4bd6-afa9-0dd587871298","executionMode":"test"}}]},"versionId":"e3194eab-d7f4-4c63-a3df-3c6eb2e67950","triggerCount":0,"tags":[]}